/* =-= Using "Work Sans" fonts from fonts.google.com =-= */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* =-= CSS variables =-= */
:root {
  /* --- Colors --- */
  --title-black: #0b0223;
  --default-black: #534c64;
  --picton-blue: #4ec5f7;
  --white-color: #fff;

  /* --- Font and typography --- */
  --body-font: "Work Sans", sans-serif;
  --normal-size: 1rem;

  /* --- Font-weight --- */
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-bolder: 800;
}

/* =-= Base =-= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

h1,
h2,
h3,
h4 {
  color: var(--title-black);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* =-= Reuseable CSS classes =-= */
.section {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* =-= Layout =-= */
.container {
  width: 100%;
  max-width: 1440px;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.text--gradient {
  background: var(
    --Linear,
    linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title--gradient {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* =-= Navigation Section Start =-= */
.navigation {
  width: 100%;
  background-color: var(--white-color);
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.navigation__content {
  padding: 37px 0;
  display: flex;
  justify-content: space-between;
}

.nav__brand {
  display: flex;
  align-items: center;
}

.nav__brand > img {
  display: block;
  width: 86px;
  height: 40px;
  margin-right: 20px;
}

.brand__text {
  font-size: 45px;
  font-weight: var(--font-bold);
  color: var(--title-black);
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  margin-left: 32px;
}

.nav__flow {
  padding: 16px 24px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  display: flex;
  align-items: center;
}

.flow__youtube {
  padding: 0 16px 0 24px;
}

.nav__flow img {
  vertical-align: middle;
}

.flow__youtube > img {
  width: 33px;
  height: 24px;
}

.nav__link,
.flow__text {
  color: #3c354f;
  font-size: 18px;
  font-weight: var(--font-medium);
}

/* =-= Start Hero Section =-= */
.hero {
  padding-top: 19px;
}

.hero__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__body-wrap,
.hero__thumbs {
  flex: 1;
}

.hero__subtitle {
  color: var(--title-black);
  font-size: 48px;
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
}

.hero__title {
  font-size: 95px;
  font-weight: var(--font-bolder);
  text-transform: uppercase;
  margin-bottom: calc(24px - 17px);
}

.hero__text-wrap {
  display: flex;
  align-items: center;
  margin-top: 17px;
}

.hero__text-icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.hero__btns {
  margin-top: 40px;
}

.hero__btn,
.gamer__btn {
  padding: 21px 40px;
  border-radius: 48px;
  background: var(
    --Linear,
    linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%)
  );
  border: none;
  outline: none;
  color: var(--white-color);
  font-size: 20px;
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
}

.btn-picton {
  margin-left: 24px;
  border-radius: 48px;
  background: var(--picton-blue);
}

/* =-= Gamer Section Start =-= */
.gamer {
  padding: 95px 0;
}

.gamer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gamer__thumbs {
  width: 100%;
  max-width: 868px;
  overflow: hidden;
}

.gamer__thumb {
  height: 100%;
  object-fit: cover;
}

.gamer__texts {
  max-width: 520px;
  width: 100%;
  margin-left: 52px;
  text-align: right;
}

.gamer__title {
  text-align: right;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.gamer__text {
  color: var(--default-black);
  font-size: 18px;
  font-weight: var(--font-regular);
  line-height: 30px;
  margin: 24px 0 32px;
}

.gamer__person {
  display: block;
  color: var(--default-black);
  font-size: 24px;
  font-weight: var(--font-medium);
  line-height: 45px;
  margin-top: 24px;
}

.gamer__bottom-text {
  color: var(--default-black);
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
}

/* =-= Start Online Section =-= */
.online {
  padding: 120px 0;
}

.online__head {
  max-width: 655px;
  width: 100%;
  margin: auto;
  text-align: center;
}

.online__title {
  color: var(--title-black);
  font-size: 48px;
  font-weight: var(--font-bold);
}

.online__subtitle {
  color: var(--default-black);
  font-size: 18px;
  font-weight: var(--font-regular);
  line-height: 30px;
  margin-top: 16px;
}

.online__cards {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
}

.online__card {
  max-width: 342px;
  width: 100%;
}

.card__image-wrap {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 16px;
  position: relative;
}

.online__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.online__card-text {
  display: block;
  color: var(--default-black);
  font-size: 20px;
  font-weight: var(--font-medium);
  line-height: 30px;
  margin-top: 24px;
}

.card__hover {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease;
  border-radius: 16px;
  border: 4px solid #ff42a5;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
}

.card__hover-icon {
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.card__hover-text {
  margin-top: 16px;
  text-align: center;
  font-size: 20px;
  font-weight: var(--font-semi-bold);
  cursor: pointer;
}

.card__image-wrap:hover .card__hover {
  opacity: 100%;
}

/* =-= Start Play Section =-= */
.play {
  padding-bottom: 120px;
}

.play__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.play__thumbs {
  width: 100%;
  max-width: 846px;
  position: relative;
}

.play__text-wrap {
  width: 100%;
  max-width: 483px;
  margin-left: 40px;
}

.play__title {
  font-size: 48px;
  font-weight: var(--font-bold);
  line-height: 60px;
  max-width: 426px;
}

.play__text {
  color: var(--default-black);
  font-size: 18px;
  font-weight: var(--font-regular);
  line-height: 30px;
  margin-top: 24px;
}

.play__thumb {
  width: 710px;
  border-radius: 8px;
}

.play__thumb-small {
  position: absolute;
  right: 0;
  bottom: -119px;
}

/* =-= Start Career Section =-= */
.career {
  padding: 120px 0;
  background: url("../images/Group65.png"), linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%);
  background-repeat: no-repeat;
  background-position: right center;
}

.career__content {
  display: flex;
}

.career__text-wrap {
  max-width: 680px;
  width: 100%;
}

.career__title {
  color: var(--white-color);
  font-size: 48px;
  font-weight: var(--font-bold);
  line-height: 60px;
}

.career__text {
  color: var(--white-color);
  font-size: 18px;
  font-weight: var(--font-regular);
  line-height: 30px;
  padding: 24px 0 32px;
}

.career__texts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.career__txt {
  color: var(--white-color);
  font-size: 20px;
  font-weight: var(--font-semi-bold);
  line-height: 40px;
}

.career__btn {
  font-size: 20px;
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  padding: 21px 40px;
  background: var(--white-color);
  border: none;
  outline: none;
  border-radius: 48px;
  color: #f948b2;
  margin-top: 40px;
}

.career__thumbs {
  display: none;
}
